body.page {
    background: #EBEBF3;
}

/*Global*/
body.page h1 {
    color: #444; 
    line-height: 1.55;
}
body.page h2, 
body.page h3 {
    color: #666;
    font-family: 'Roboto Condensed';
    line-height: 1.55;
    font-weight: 400;
}
body.page h4, 
body.page h5, 
body.page h6 {
    color: #666;
    font-family: 'Roboto Condensed';
    line-height: 1.55;
    font-weight: 600;
}

body.page p {
    line-height: 1.75;
}


body.page p, 
body.page li {
    color: #444;
}

/*end global*/

/*BANNER */

section.banner-page {
    background-image: linear-gradient( #3da6a375, #11726d48 ), url(../images/pexels-pixabay-207691.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 15rem;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    margin-bottom: 2rem;
}

section.banner-page > .ed-container {
    display: flex;
    align-items: center;
    height: 100%;
}
section.banner-page h1 {
    color: #fff;
    font-size: 2rem;
    width: 70%;
}
/*END banner*/



/*OVERRRIDE*/
header.page {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}

/*END OVERRIDE*/

.page-all-content {
    margin-top: 4rem;
    margin-bottom: 4rem;
}




/*ARTICLE*/
section.page-article {
    width: 70%;
    padding-right: 3rem;
    margin-bottom: 0;
}
section.page-article .article-container{
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
  border-radius: 2px;
  overflow: hidden;
}
section.page-article .article-container article {
    background: #fff;
    margin-bottom: 0;
}
section.page-article .article-container article img{
    display: flex;
}
section.page-article .article-container article .article-content{
    padding: 4rem 4rem;
}
section.page-article .article-container article .article-content h1{
    font-size: 2.125rem;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #444;
}
section.page-article .article-container article .article-content .socialmedia p {
    font-size: 2.5rem;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 0.5rem 0;
}
section.page-article .article-container article .article-content .socialmedia p i:nth-child(1){
    color: #4267B2;
    margin-right: 0.2rem;
}
section.page-article .article-container article .article-content .socialmedia p i:nth-child(2){
    color: #1DA1F2;
    margin-right: 0.2rem;
}
section.page-article .article-container article .article-content .socialmedia p i:nth-child(3){
    color: #0073AF; 
}

section.page-article .article-container article .article-content .metadata {
    display: flex;
}
section.page-article .article-container article .article-content .metadata p{
    font-size: 0.75rem;
    font-family: 'Open Sans';
    color: #666;
}
section.page-article .article-container article .article-content .metadata p.date{
    padding-left: 0.5rem;
    border-left: 1px solid rgb(185, 185, 185);
}
section.page-article .article-container article .article-content .metadata .autor span{
    font-weight: 600;
    color: #197575;
    padding-right: 0.5rem;
}
section.page-article .article-container article .article-content .content h2{
    padding-bottom: 1.563rem;
    margin-bottom: 1.875rem;
    border-bottom: 1px solid rgb(221, 221, 221);
}
section.page-article .article-container article .article-content .content p{
    font-family: 'Open Sans';
    font-size: 0.95rem;
}
section.page-article .article-container article .article-content .content ul {
    padding-left: 1.75rem;
}
section.page-article .article-container article .article-content .content ul li{
    font-family: 'Open Sans';
    font-size: 0.95rem;
    margin-bottom: 0.75rem;
}



section.aside {
    width: 30%;
}

/*END ARTICLE*/




@media screen  and (min-width: 1366px) {
    body.page .section-80 {
      max-width: 1300px;
    }
}
  