:root {
  --main-color: #034341;
  --secondary-color: #DFBB33;
  --font-roboto: 'Roboto', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-nunito: 'Nunito Sans', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-montserrat: 'Montserrat', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@font-face {
  font-family: Gabriela Regular;
  src: url("../fonts/Gabriela\ Regular.otf") format("opentype");
}


body {
  font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background: #F2F1F7; */
  background: #fff;
}

.is-active .fade-in-up {
  visibility: visible !important;
}


/*GENERAL STYLES*/


h1, h2, h3, h4, h5 {
  font-family: 'Open Sans';
  font-weight: 700;
  
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  font-family: 'Open Sans';
  font-weight: 700;

}

.section-80 {
  max-width: 80%;
}

h2.section-title {
  font-size: 2.7rem;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  margin-bottom: 3rem;
  position: relative;
  display: inline-block;
  color: #464646;
}
h2.section-title:after {
  content: '';
  width: 3.125rem;
  height: 0.25rem;
  background: var(--secondary-color);
  position: absolute;
  bottom: -10px;
  left: 0;
}

h2.section-title.bb-center:after {
  content: '';
  width: 3.125rem;
  height: 0.25rem;
  background: var(--secondary-color);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

a.view-more-button-half {
  background: #06807C;
  padding: 0.75rem 0;
  color: #fff;
  font-family: 'Roboto Condensed';
  text-decoration: none;
  transition: all .2s ease-in-out;
  display: inline-block;
  width: 8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 2px;
}

a.view-more-button-half:hover {
  background: var(--main-color);
  transition: all ease 0.5s;
}

.view-more-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*END GENERAL STYLES*/




/* MENU TOP */
header .header-top {
    background: var(--main-color);
    margin: 0;
}

header .header-top .header-top-child {
    
    padding: 0.625rem 0;
}
header .header-top .header-top-child p {
    margin-bottom: 0;
    color: #d6d6d6;
    font-size: 0.8rem;
    font-family: 'Nunito Sans';
}
header .header-top .header-top-child p a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 500;
}
header .header-top .header-top-child p:not(:last-child) {
  margin-right:1rem
}
/* END MENU TOP */







/* Nav logo */
header .nav__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
header .nav__logo h1 {
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
  line-height: 1.55;
  color: #000;
  text-transform: uppercase;
  font-family: "Nunito Sans";
  font-weight: 700;
}
header .nav__logo h1 span {
  color: rgb(212 180 51);
}

header .nav__logo img {
  width: 5.625rem;
  max-width: 6.25rem;
}
/* End Nav logo */




/* Menu Navbar */
header .nav__container {
  padding: 1rem 0;
  
}
header .nav__container .nav__menu {
  margin: 0;
}
header nav.menu-toggle ul li > a {
    font-size: 0.75rem;
    font-family: 'Nunito Sans';
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}
header nav.menu-toggle ul li > a:hover {
    color: var(--secondary-color);
}
header nav.menu-toggle ul li.dropdown ul.nested-menu {
    left: 0;
}
/* End Menu Navbar */





/* HERO */
section.hero {
  margin-bottom: 4rem;
}
section ul.splide__pagination {
  visibility: hidden;
}
section.hero .splide__track {
  height: 40.625rem;
}

section.hero .splide__track ul.splide__list {
  height: 100%;
}
section.hero .splide__track ul.splide__list li img{
  height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: center;
  filter: brightness(0.7);
}

section.hero .splide__track ul.splide__list li .hero-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  width: 50%;
  padding: 0 1rem;
}
section.hero .splide__track ul.splide__list li .hero-container p {
  font-family: 'Nunito Sans';
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
    font-weight: 600;
}
section.hero .splide__track ul.splide__list li .hero-container h2 {
  padding: 0;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 100;
  line-height: 1.45;
  margin-bottom: 2rem;
  font-size: 2.7rem;
  text-shadow: 2px 2px #272727;
  visibility: hidden;
}


section.hero .splide__track ul.splide__list li .hero-extra {

  position: absolute;
  bottom: 0;
  width: 45%;
  right: 0;
    padding: 1rem 0;
}
section.hero .splide__track ul.splide__list li .hero-extra .hero-extra-container{
  display: flex;
  justify-content: space-between;
  color:#d6d6d6;
}
section.hero .splide__track ul.splide__list li .hero-extra .hero-extra-container .item h3 {
  color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    text-align: end;
}

section.hero .splide__track ul.splide__list li .hero-extra .hero-extra-container .item:not(:last-child) {
  border-right: 1px solid var(--secondary-color);
}
section.hero .splide__track ul.splide__list li .hero-extra .hero-extra-container .item p {
    font-size: 0.85rem;
    line-height: 1.65;
    text-align: revert;
    font-family: 'Nunito Sans';
    text-align: end;
}

/* End HERO */


/* NEWS AMD AVISOS SECTION */

section.news-events-section {
  margin-bottom: 4rem;
}
section.news-events-section > div.ed-container {
  
  padding: 0 1rem;
}

section.news-events-section .custom-container.left {
  padding-top: 2rem;
}

section.news-events-section .custom-container .news-container {
  padding-right: 2rem;
}
section.news-events-section .custom-container .news-container .single-news {
  display:flex;
}
section.news-events-section .custom-container .news-container .single-news:last-child  {
  margin-bottom: 2rem;
}
section.news-events-section .custom-container .news-container .single-news:not(:last-child) {
  margin-bottom: 2rem;
}

section.news-events-section .custom-container .news-container .single-news a.news-image {
  align-items: center;
  display: flex;
  text-decoration: none;
  width: 30%;
}

section.news-events-section .custom-container .news-container .single-news a.news-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

section.news-events-section .custom-container .news-container .single-news .single-news-text {
  width: 70%;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: start;
  flex-direction: column;
}
section.news-events-section .custom-container .news-container .single-news .single-news-text h3 {
  margin-bottom: 0.7rem;
}

section.news-events-section .custom-container .news-container .single-news .single-news-text .news-date {
  font-size: 0.8rem;
  color: #06807C;
  margin-bottom: 1rem;
  font-family: 'Roboto Slab';
}
section.news-events-section .custom-container .news-container .single-news .single-news-text a.readmore {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.863);
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
}
section.news-events-section .custom-container .news-container .single-news .single-news-text h3 a.news-title {
  text-decoration: none;
  color:#06807C;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
section.news-events-section .custom-container .news-container .single-news .single-news-text p {
  font-family: 'Open Sans';
  font-size: 0.95rem;
  color: #444;
  line-height: 1.55;
  font-weight: 300;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}






section.news-events-section .custom-container.right {
  padding-left: 3rem;
  background: #EBEBF3;
  height: 100%;
  padding-top: 2rem;
  padding-right: 3rem;
}

section.news-events-section .custom-container.right .view-more-container{
  margin-bottom: 1rem;
}

section.news-events-section .custom-container.right .events-container p {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
section.news-events-section .custom-container.right .events-container p a {
  text-decoration: none;
  color: #333;
  font-family: 'Roboto Condensed';
  line-height: 1.75;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
section.news-events-section .custom-container.right .events-container p a:hover {
  color: #06807C;
}
section.news-events-section .custom-container.right .events-container p i{
  font-size: 1.6rem;
  /* color: #bdbdbd; */
  color: #00000024;
  margin-right: 1rem;
}

/* END NEWS AMD AVISOS SECTION  */











/* EVENTS BEGIN */

section.events-section{
  background: #EBEBF3;
  margin-bottom: 4rem;
}
section.events-section .events-container {
  padding: 2rem 1rem;
  width: 100%;
}
section.events-section .events-container .events-title  {
  text-align: center;
}
section.events-section .events-container .events-content-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.events-section .events-container .events-content-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
section.events-section .events-container .events-content-container .event-item-container {
  padding: 0 1rem;
  width: 33.333%;
}
section.events-section .events-container .events-content-container .event-item-container a {
  text-decoration: none;
}
section.events-section .events-container .events-content-container .event-item-container .event-single-item {
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: all ease 0.2s;
}
section.events-section .events-container .events-content-container .event-item-container .event-single-item:hover {
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%);
  transition: all ease 0.2s;
}
section.events-section .events-container .events-content-container .event-item-container .event-single-item .image-container {
  position: relative;
}
section.events-section .events-container .events-content-container .event-item-container .event-single-item .image-container .square-date{
  position: absolute;
  top: 0;
  right:0;
  height: 5rem;
  width: 5rem;
  background: #038F8A;
}
section.events-section .events-container .events-content-container .event-item-container .event-single-item .image-container .square-date div.day {
  background: #038F8A;
  color: #fff;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-size: 2.3rem;
  height: 70%;
}
section.events-section .events-container .events-content-container .event-item-container .event-single-item .image-container .square-date div.month {
  background: var(--main-color);
  color: #fff;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  height: 30%;
}
section.events-section .events-container .events-content-container .event-item-container .event-single-item .image-container .square-date div.month span {
  font-size: 0.7rem;
}
section.events-section .events-container .events-content-container .event-item-container .event-single-item .event-single-item-body{
  padding: 1rem 2rem;
  text-align: start;
}
section.events-section .events-container .events-content-container .event-item-container .event-single-item .event-single-item-body h2{
  font-weight: 400;
  font-size: 0.9rem;
  font-family: 'Open Sans';
  margin-bottom: 0.7rem;
  line-height: 1.55;
  color: #444;
}

section.events-section .events-container .events-content-container .event-item-container .event-single-item .event-single-item-body span.event-date {
  display: inline-block;
  font-size: 0.8rem;
  color: #06807C;
  margin-bottom: 1rem;
  font-family: 'Roboto Slab';
}

/*END EVENTS*/







/*FACULTAD AND TV BEGIN*/
section.fac-tv  {
  margin-bottom: 4rem;
}

section.fac-tv .fac-container h2.section-title{
  margin-left: 1rem;
}
section.fac-tv .fac-container .fac-content-container{
  display: flex;
}
section.fac-tv .fac-container .fac-content-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
section.fac-tv .fac-container .fac-content-container a{
  display: block;
  width: 25%;
  text-decoration: none;
}
section.fac-tv .fac-container .fac-content-container a:hover .fac-rounded .svg-container{
  background: #3DA6A2;
  transition: all ease 0.2s;
}
section.fac-tv .fac-container .fac-content-container a:hover .fac-rounded .svg-container svg{
  transform: scale(1.2);
  transition: all ease 0.2s;
}
section.fac-tv .fac-container .fac-content-container a:hover .fac-rounded h2{
  color: #3DA6A2;
  transition: all ease 0.2s;
}
section.fac-tv .fac-container .fac-content-container .fac-rounded{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

section.fac-tv .fac-container .fac-content-container .fac-rounded .svg-container{
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 0.7rem;
  transition: all ease 0.2s;
}

section.fac-tv .fac-container .fac-content-container .fac-rounded .svg-container svg {
  width: 2.5rem;
  fill: #fff;
  transition: all ease 0.2s;
}
section.fac-tv .fac-container .fac-content-container .fac-rounded h2{
  font-size: 0.8rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Nunito Sans';
  transition: all ease 0.2s;
  color: #444;
}







section.fac-tv .tv-container .tv-content-container {
  background: #06807c30;
    padding: 2rem;
}
section.fac-tv .tv-container .tv-content-container .tv-child-content-container img {
  border-radius: 2px;
  margin-bottom: 0.7rem;
}
section.fac-tv .tv-container .tv-content-container .tv-child-content-container h2 {
  font-size: 1.2rem;
  font-family: 'Open Sans';
  margin: 0 1rem;
  text-align: center;
}


/*END FACULTAD AND TV*/





/*INTRODUCCION VIDEO BEGIN*/

section.intro-video-sec {
   background-image: linear-gradient(
    #3da6a375, 
    #11726d48
  ), url('../images/alvaro-serrano.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 34.375rem;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  margin-bottom: 2rem;
}
section.intro-video-sec > .ed-container {
  
  height: 100%;
}
section.intro-video-sec .intro-video-container {
  padding: 2rem 2rem;
  height: 100%;
}
section.intro-video-sec .intro-video-container .video {
  padding: 3rem 0;
  height: 100%;
}
section.intro-video-sec .intro-video-container .video img{
  height: 100%;
}

section.intro-video-sec .intro-video-container .desc {
  padding: 2rem;
  
}
section.intro-video-sec .intro-video-container .desc h2{
  color: #fff;
  margin-bottom: 2rem;
}
section.intro-video-sec .intro-video-container .desc p{
  color: #fff;
  font-family: 'Open Sans';
  line-height: 1.65;
  font-size: 0.9rem;
}
section.intro-video-sec .intro-video-container .desc a{
  background: #029891;
}
section.intro-video-sec .intro-video-container .desc a:hover{
  background: #06807C;
}

/* END INTRODUCCION VIDEO */



























/* SHADOW JOBS SECTION BEGIN */
section.shadow-sec {
  background: #fff;
}
section.shadow-sec.jobs-sec {
  margin-bottom: 2rem;
}

section.shadow-sec .jobs-container {
  padding: 2rem 1rem;
  width: 100%;
}
section.shadow-sec .jobs-container .jobs-title {
  width: 100%;
  text-align: center;
}


section.shadow-sec .jobs-container .jobs-content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
section.shadow-sec .jobs-container .jobs-content-container .jobs-item-container {
  width: 33.333%;
  padding: 2rem 1rem;
}
section.shadow-sec .jobs-container .jobs-content-container .jobs-item-container .jobs-item{
  background: #eaeaea;
  padding: 2rem;
  border-top: 3px solid #06807C;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
  border-radius: 2px;
}
section.shadow-sec .jobs-container .jobs-content-container .jobs-item-container .jobs-item svg{
  width: 3.125rem;
  height: 3.125rem;
  margin-bottom: 1rem;
  fill: #038F8A;
}
section.shadow-sec .jobs-container .jobs-content-container .jobs-item-container .jobs-item h3 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.7rem;
  font-family: 'Roboto Condensed';
}
section.shadow-sec .jobs-container .jobs-content-container .jobs-item-container .jobs-item p.empresa {
  font-family: 'Open Sans';
  margin-bottom: 0.9rem;
}

section.shadow-sec .jobs-container .jobs-content-container .jobs-item-container .jobs-item a {
  font-family: 'Roboto Condensed';
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  color: #038F8A;
  display: inline-block;
  padding: 0.3rem 0;
  text-transform: uppercase;
}
section.shadow-sec .jobs-container .jobs-content-container .jobs-item-container .jobs-item a:hover {
  color: #e4c40f;
}

/* END JOBS SAHDOW BEGIN */













/*ENLACES DE INTERES BEGIN*/
section.ilinks {
  background: #EBEBF3;
}

section.ilinks .ilinks-container {
  padding: 2rem 1rem;
  width: 100%;
}
section.ilinks .ilinks-container .ilinks-title {
  text-align: center;
  width: 100%;
}
section.ilinks .ilinks-container .ilinks-links .ilnks-items-container h2 {
  margin-left: 1rem;
}
section.ilinks .ilinks-container .ilinks-links .ilnks-items-container .ilinks-item-container {
  padding: 1rem;
}
section.ilinks .ilinks-container .ilinks-links .ilnks-items-container .ilinks-item-container .ilinks-item-body {
  background: #fff;
  padding: 1.5rem 2rem;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 2px;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}
section.ilinks .ilinks-container .ilinks-links .ilnks-items-container .ilinks-item-container .ilinks-item-body h3 {
  font-family: 'Roboto Condensed';
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  color: #444;
  z-index: 10;
}
section.ilinks .ilinks-container .ilinks-links .ilnks-items-container .ilinks-item-container .ilinks-item-body h3:after {
  content: "";
  width: 100%;
  height: 2px;
  z-index: 9;
  margin-top: 0.6rem;
  background: linear-gradient(to right, #038F8A 50%, #ccc 50%);
  display: block;
  z-index: 10;
}
section.ilinks .ilinks-container .ilinks-links .ilnks-items-container .ilinks-item-container .ilinks-item-body > i {
  position: absolute;
  font-size: 8rem;
  color: #e8e8e8;
  top: -1.25rem;
  left: -1.25rem;
  z-index: 1;
}
section.ilinks .ilinks-container .ilinks-links .ilnks-items-container .ilinks-item-container .ilinks-item-body h3 i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  color: #038F8A;
}
section.ilinks .ilinks-container .ilinks-links .ilnks-items-container .ilinks-item-container .ilinks-item-body ul {
  list-style-type: none;
  margin-bottom: 0;
  z-index: 10;
}
section.ilinks .ilinks-container .ilinks-links .ilnks-items-container .ilinks-item-container .ilinks-item-body li {
  margin-bottom: 0.5rem;
}
section.ilinks .ilinks-container .ilinks-links .ilnks-items-container .ilinks-item-container .ilinks-item-body li a {
  /* text-decoration: none; */
  color: #038F8A;
  font-size: 0.95rem;
  font-family: 'Open Sans';
}






/* section.ilinks .ilinks-container .documents-interes  h2{
  margin-left: 1rem;
} */
section.ilinks .ilinks-container .documents-interes .documents-container {
  padding: 1rem 0;
}
section.ilinks .ilinks-container .documents-interes .documents-container .document-item-container {
  margin-bottom: 2rem;
}
section.ilinks .ilinks-container .documents-interes .documents-container .document-item-container .document-item-body {
  display: flex;
  background: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
  border-radius: 2px;
}
section.ilinks .ilinks-container .documents-interes .documents-container .document-item-container .document-item-body .head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
section.ilinks .ilinks-container .documents-interes .documents-container .document-item-container .document-item-body .body{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  /* border-top: 1px solid black; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  line-height: 1.45;
  font-family: 'Open Sans';
  font-size: 0.9rem;
  font-weight: 700;
  position: relative;
}
section.ilinks .ilinks-container .documents-interes .documents-container .document-item-container .document-item-body .body:before{
  content: '';
  height: 2px;
  background: linear-gradient(to right, #3DA6A2 50%, #ccc 50%);;
  width: 100%;
  position: absolute;
  top: 0;
  right:0;
}
section.ilinks .ilinks-container .documents-interes .documents-container .document-item-container .document-item-body .body p {
  margin: 0;
}
section.ilinks .ilinks-container .documents-interes .documents-container .document-item-container .document-item-body .head svg{
  width: 2.5rem;
  height: auto;
  padding: 1rem 0;
  fill: #444;
}

/* END ENLACES DE INTERES */



/*LOGOS SECTION BEGIN*/


section.acred-logos .acred-container .left-logo {
 padding: 0 2rem;
}

section.acred-logos .acred-container .left-logo .una-content {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}
section.acred-logos .acred-container .left-logo .una-content img {
  width: 5.625rem;
  max-width: 6.25rem;
}
section.acred-logos .acred-container .left-logo .una-content h2 {
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
  line-height: 1.55;
  color: #000;
  text-transform: uppercase;
  font-family: "Nunito Sans";
  font-weight: 700;
}
section.acred-logos .acred-container .left-logo .una-content h2 span {
  color: rgb(212 180 51);
}


section.acred-logos .acred-container .other img{
  height: 6rem;
 }
section.acred-logos .acred-container .other img:not(:last-child){
  margin-right: 2rem;
 }

/*END LOGOS SECTION*/







/*FOOTER*/
footer {
  background: #197575;
  color: #ccc;
}


footer > .btm-bar > .ed-container {
  display: flex;
  align-items: center;
}
footer > .btm-bar > .ed-container p {
  margin: 0;
  padding: 0.625rem 0;
  font-family: 'Nunito Sans';
  font-size: 0.8rem;
}
footer .btm-bar {
  background: #034341;
}

footer > .ed-container:nth-child(2) {
  background: #029891;
}
footer .footer-container  {
  padding: 5rem 0;
}
footer .footer-container .footer-logo-container .logo-child .ctnlf {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  align-items: center;
}
footer .footer-container .footer-logo-container .logo-child .ctnlf img {
  width: 10rem;
  margin-bottom: 1rem;
}
footer .footer-container .footer-logo-container .logo-child .ctnlf h3 {
  font-size: 1.2rem;
  font-family: 'Nunito Sans';
  text-align: center;
  color: #fff;
  line-height: 1.55;
}

footer .footer-container .footer-right-logo {
  display: flex;
}
footer .footer-container .footer-right-logo .footer-navs {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer-container .footer-right-logo .footer-navs header {
  background: initial;
}
footer .footer-container .footer-right-logo .footer-navs header h3 {
  color: rgba(255, 255, 255, 0.884);
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: 'Roboto Condensed';
  margin-bottom: 1.5rem;
}
footer .footer-container .footer-right-logo .footer-navs nav ul {
  list-style: none;
  
}
footer .footer-container .footer-right-logo .footer-navs:not(:last-child) nav ul {
  border-left: 1px solid rgba(255, 255, 255, 0.418);
  padding-left: 0.7rem;
}
footer .footer-container .footer-right-logo .footer-navs nav ul li {
  margin-bottom: 1rem;
  color: #d6d6d6;
  display: flex;
  align-items: center;
}
footer .footer-container .footer-right-logo .footer-navs nav ul li.socialmedia {
  margin-bottom: 2rem;
}
footer .footer-container .footer-right-logo .footer-navs nav ul li.socialmedia i {
  font-size: 1.8rem;
  margin-right: 1.5rem;
}
footer .footer-container .footer-right-logo .footer-navs nav ul li > i{
  color: #fff;
  font-size: 1.2rem;
  margin-right: 1rem;
}
footer .footer-container .footer-right-logo .footer-navs nav ul li a{
  color: #d6d6d6;
}
/*END FOOTER*/







/*MEDIA QUerys*/


@media screen and (min-width: 860px) {
  header nav.menu-toggle ul li.dropdown ul li {
    background-color: #e8e8e8;
    transition: all ease 0.3s;
  }
  header nav.menu-toggle ul li.dropdown ul li:hover {
    background-color: #fff;
    transition: all ease 0.3s;
  }
  header nav.menu-toggle ul li.dropdown ul li a{
    color: #000;
  }
  header nav.menu-toggle ul li.dropdown ul li a:hover{
    color: #000;
  }
}


@media screen  and (min-width: 2000px) {
  .section-80 {
    max-width: 1920px;
  }
}


@media screen  and (max-width: 1600px) {
  html {
    font-size: 15px;
  }
}
@media screen  and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}
@media screen  and (max-width: 1366px) {
  section.news-events-section .custom-container.right .events-container p:last-child {
    display: none;
  }
}
@media screen  and (max-width: 1280px) {
  html {
    font-size: 12px;
  }
}
@media screen  and (max-width: 1100px) {
  .section-80 {
    max-width: 90%;
  }
}
@media screen  and (max-width: 950px) {
  .section-80 {
    max-width: 95%;
  }
}
/*end MEDIA QUERYS*/